.h-wrapper{
    padding-right: 11rem;
    padding-left: 3rem;
}
.h-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 1rem;

}

.h-list {
    display: flex;
    gap: 2rem;
    list-style-type: none; 
    margin: 0; 
    font-weight: 520;
    font-size: 0.9rem;
}
.h-img{
    height: 4rem;
    padding-left: 4rem;
}
.sign-button{
    background: #fffcfc;
    color: black;
    border: solid black 2px;
    padding: 5px;
    padding-left: 10px; padding-right: 10px;
    border-radius: 5px;

}

